BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
SortIncludes: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
PointerAlignment: Right
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
SpaceBeforeParens: ControlStatements
DerivePointerAlignment: false
