.env
.idea
.vscode
__pycache__
build/

*.pt
*.npz
**/node_modules
.doit.db
gameplay_client/logs/
vcpkg/
.pytest_cache/
.ruff_cache/
.cache/
checkpoints/
compile_commands.json
vcpkg_installed/
perf_report.txt
callgrind.out
perf.data
vgcore*
instructions/
cachegrind.out
temporary_utils/
out/
.doit.db*
pytorch_profile.json
