[Unit]
Description=AlphaZero Inference Server for %i
After=network.target

[Service]
Type=simple
# Provide default values (overridden by EnvironmentFile)
Environment="MCTS_SEARCH_DEPTH=800"
Environment="MCTS_BATCH_SIZE=1"
# Load environment variables from this file
EnvironmentFile=%h/.config/alphazero/inference-%i.env
# Execute the server with the variables
ExecStart=%h/.local/bin/alphazero-inference-server --network-path ${NETWORK_PATH} --device ${DEVICE} --game %i --mcts-search-depth ${MCTS_SEARCH_DEPTH} --mcts-batch-size ${MCTS_BATCH_SIZE}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
